<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bca669">  <td>20/08/13 20:38:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AWD_Test.applicationAWD_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testcases.AWD_Test@3c0ecd4b]">applicationAWD_test</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>20/08/13 20:38:43</td>   <td>-1500</td> <td title="&gt;&gt;TestBase.setupSuite()[pri:0, instance:com.qa.testcases.AWD_Test@3c0ecd4b]">&gt;&gt;setupSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>20/08/13 20:39:47</td>   <td>62408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.AWD_Test@3c0ecd4b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
